[submodule "third_party/asts"]
	path = third_party/asts
	url = git@github.com:keithyin/asts.git
[submodule "third_party/gseda"]
	path = third_party/gseda
	url = git@github.com:keithyin/gseda.git
[submodule "third_party/gsetl"]
	path = third_party/gsetl
	url = git@github.com:keithyin/gsetl.git
[submodule "third_party/mm2"]
	path = third_party/mm2
	url = git@github.com:keithyin/mm2.git
